/* corps de la page */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-size: 15px;
}

/* en-tête */
.logo {
  color: white;
  font-family: "Italianno", cursive;
  /* font-family: 'Lobster', cursive; */
  padding: 0 25px 0 15px;
  font-size: 55px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgb(68, 139, 2);
}
/* dégradé de couleur de fond du logo */
.font-effect-fire {
  border: 2px solid rgb(161, 235, 120);
  background-color: rgb(161, 235, 120);
  box-shadow: 2px 2px 15px rgb(161, 235, 26);
  border-radius: 8px;

  background: linear-gradient(216deg, #adf411, #faae00);
  background-size: 400% 400%;

  -webkit-animation: Monlogo 6s ease infinite;
  -moz-animation: Monlogo 6s ease infinite;
  -o-animation: Monlogo 6s ease infinite;
  animation: Monlogo 6s ease infinite;
}
/* animation du dégradé de couleur */
@-webkit-keyframes Monlogo {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}
@-moz-keyframes Monlogo {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}
@-o-keyframes Monlogo {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}
@keyframes Monlogo {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}
/* conteneur de l'en-tête */
.conteneur {
  padding: 15px 15px 15px 25px;
  border: none;
  background-color: rgb(51, 94, 51);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

/* figer l'en-tête */
.position_fixe {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

/* éléments de l'en-tête */
.item1 {
  width: auto;
}

.bouton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: black;
  background-color: rgb(79, 170, 117);
  border: 1px solid rgb(79, 170, 117);
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
  height: 30px;
  box-shadow: 1px 1px 8px #6b705c;
}
a.bouton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
  background-color: rgb(99, 206, 144);
  border: 1px solid rgb(79, 170, 117);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 8px #6b705c;
}
a.bouton:hover {
  text-decoration: none;
  color: white;
  border: 1px solid rgb(79, 170, 117);
}

/* champs de recherche */
input {
  border: 1px solid white;
  border-radius: 8px;
  padding-right: 15px;
  padding-bottom: 5px;
}

/* navigation */
.menu_nav {
  z-index: 2;
  background-color: rgb(240, 64, 64);
}
.navbar-nav {
  background-color: rgb(240, 64, 64);
  font-family: "Lobster", cursive;
  font-size: 1.2em;
  width: 100%;
  justify-content: center;
}

.navbar-nav .dropdown-menu a {
  background-color: white;
  width: 100%;
  text-align: center;
}

.navbar-nav .dropdown-menu a:hover {
  background-color: rgb(240, 64, 64);
  width: 100%;
}

a.nav-link {
  color: white;
  text-shadow: 1px 1px 8px rgb(3, 51, 11);
  margin-right: 5px;
}

a.nav-link:hover {
  color: yellow;
  font-weight: bold;
  text-shadow: 1px 1px 6px black;
}

.navbar.navbar-expand-md .navbar-toggler-icon {
  background-image: url("https://mdbcdn.b-cdn.net/img/svg/hamburger1.svg?color=6a1b9a");
}

/* main - corps de la page */

main {
  padding: 20px;
  text-align: center;
}
.corps {
  padding-top: 200px;
}
.mentions {
  text-align: left;
}
.titremoyen {
  color: #5ec40a;
  font-size: 24px;
}
.fondvert {
  padding: 20px;
  text-align: center;
  background-color: rgb(19, 66, 39);
  width: auto;
  height: auto;
}
.fondblanc {
  padding: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
h1 {
  font-family: "Italianno", cursive;
}
.texte {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-shadow: 0 0 0.5em #5ec40a, 0 0 0.5em #6dc40a, 0 0 0.5em #64c40a;
}
.texte2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-shadow: 0 0 0.5em #fded06, 0 0 0.5em #6dc40a, 0 0 0.5em #64c40a;
}
.texte3 {
  font-size: 15px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 0 0.5em #fded06, 0 0 0.5em #6dc40a, 0 0 0.5em #64c40a;
}
.articles {
  display: flex;
  height: auto;
}
.actualites {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
  justify-content: space-between;
}
.actualite {
  border: 1px solid lightgray;
  box-shadow: 2px 2px 5px lightgrey;
  margin: 8px;
  padding: 5px;
  text-align: left;
}

.tailleimage {
  width: 60%;
}
.tailleimage2 {
  width: 90%;
}
.image {
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 10px lightgrey;
  border-radius: 8px;
  flex: 0 1 55%;
  margin: 0 15px 0 0;
}
.taille_video {
  width: 640px;
  height: 360px;
}
.detail {
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 10px lightgrey;
  border-radius: 8px;
  padding: 10px;
  flex: 2 1 45%;
}
.panier {
  display: flex;
  justify-content: space-between;
}
.panier2 {
  display: flex;
}
.paiement_securise {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* carte google responsive */
#carte {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
#carte iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 2%;
}
/* corps de la page suite */
.margintop {
  margin-top: 10px;
}

.prix {
  font-size: 20px;
}

.magasin {
  padding-left: 5px;
}
.mentions a {
  color: #5ec40a;
}

/* pied de page */
footer {
  background-color: rgb(10, 20, 14);
  margin: 0 auto;
}
footer li {
  display: inline;
}
.piedpage {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: space-around;
}
.item2 {
  font-size: 16px;
  color: green;
}
a.pied {
  color: rgb(23, 92, 6);
}

a.pied:hover {
  color: rgb(23, 92, 6);
  text-decoration: none;
  font-weight: bold;
}

/* responsive */
@media screen and (max-width: 1024px) {
  .logo {
    color: rgb(247, 243, 243);
    font-family: "Italianno", cursive;
    /* font-family: 'Lobster', cursive; */
    padding: 0;
    font-size: 35px;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 1px 1px 3px rgb(68, 139, 2);
  }
  .conteneur {
    width: 100%;

    min-width: 0px;
    display: flex;
    padding: 0;
    justify-content: space-around;
    height: 120px;
  }
  .titremoyen {
    font-size: 20px;
  }
  .corps {
    padding-top: 180px;
  }
  .navbar-nav {
    background-color: rgb(240, 64, 64);
    text-align: center;
  }
  .item1 {
    /* pour annuler les flexbox */
    display: block;
    width: 100%;
    text-align: center;
  }
  .bouton {
    margin: auto 5px 15px 2px;
  }
}
/* 900px */
@media screen and (max-width: 900px) {
  .logo {
    color: rgb(247, 243, 243);
    font-family: "Italianno", cursive;
    /* font-family: 'Lobster', cursive; */
    font-size: 35px;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 1px 1px 3px rgb(68, 139, 2);
  }
  .conteneur {
    width: 100%;
    min-width: 0px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
  }
  .actualites {
    display: block;
  }
  .titremoyen {
    font-size: 18px;
  }
  .bouton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    background-color: rgb(79, 170, 117);
    border: 1px solid rgb(79, 170, 117);
    border-radius: 5px;
    padding: 1px 1px 1px 1px;
    height: 25px;
    box-shadow: 1px 1px 8px #6b705c;
  }
  a.bouton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    background-color: rgb(79, 170, 117);
    border: 1px solid rgb(79, 170, 117);
    border-radius: 5px;
    padding: 1px 2px 1px 2px;
    box-shadow: 1px 1px 8px #6b705c;
  }
  .corps {
    padding-top: 220px;
  }

  .item2 {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  a.pied {
    color: white;
  }
  ul {
    list-style-type: none;
  }
  footer li {
    display: block;
  }
  .piedpage {
    display: block;
    text-align: center;
  }
}
/* 768px */
@media screen and (max-width: 768px) {
  .navbar-nav {
    background-color: rgb(240, 64, 64);
    text-align: center;
  }
  .corps {
    padding-top: 220px;
  }
  .taille_video {
    width: 320px;
    height: 200px;
  }
}
/* 720px */
@media screen and (max-width: 720px) {
  .articles {
    border: 1px solid lightgray;
    display: block;
    height: 100%;
  }

  .detail {
    border: 1px solid lightgray;
    padding: 10px;
    height: 300px;
  }
  .texte3 {
    font-size: 12px;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 0.5em #fded06, 0 0 0.5em #6dc40a, 0 0 0.5em #64c40a;
  }
}

/* 480px */
@media screen and (max-width: 480px) {
  .logo {
    color: rgb(247, 243, 243);
    font-family: "Italianno", cursive;
    /* font-family: 'Lobster', cursive; */
    font-size: 25px;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 1px 1px 3px rgb(68, 139, 2);
  }

  .texte {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-shadow: 0 0 0.5em #5ec40a, 0 0 0.5em #6dc40a, 0 0 0.5em #64c40a;
  }
  .texte3 {
    font-size: 10px;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 0.5em #fded06, 0 0 0.5em #6dc40a, 0 0 0.5em #64c40a;
  }
  .bouton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    background-color: rgb(161, 235, 26);
    border: 1px solid rgb(158, 240, 6);
    border-radius: 5px;
    padding: 1px 1px 1px 1px;
    height: 25px;
    box-shadow: 1px 1px 8px #6b705c;
  }
  a.bouton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    background-color: rgb(161, 235, 26);
    border: 1px solid rgb(161, 235, 26);
    border-radius: 5px;
    padding: 1px 2px 1px 2px;
    box-shadow: 1px 1px 8px #6b705c;
  }
  .articles {
    border: 1px solid lightgray;
    display: block;
    height: 100%;
  }

  .detail {
    border: 1px solid lightgray;
    padding: 10px;
    height: 100%;
  }
  .taille_video {
    width: 300px;
    height: 160px;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  .texte {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-shadow: 0 0 0.5em #5ec40a, 0 0 0.5em #6dc40a, 0 0 0.5em #64c40a;
  }
  .texte2 {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-shadow: 0 0 0.5em #fded06, 0 0 0.5em #6dc40a, 0 0 0.5em #64c40a;
  }
  .taille_video {
    width: 200px;
    height: 150px;
  }
  .titremoyen {
    font-size: 15px;
  }
}
